<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.snaker.engine.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.snaker.engine.entity.po.Order">
        <id column="id" property="id" />
        <result column="parent_Id" property="parentId" />
        <result column="process_Id" property="processId" />
        <result column="creator" property="creator" />
        <result column="create_Time" property="createTime" />
        <result column="expire_Time" property="expireTime" />
        <result column="last_Update_Time" property="lastUpdateTime" />
        <result column="last_Updator" property="lastUpdator" />
        <result column="priority" property="priority" />
        <result column="parent_Node_Name" property="parentNodeName" />
        <result column="order_No" property="orderNo" />
        <result column="variable" property="variable" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_Id, process_Id, creator, create_Time, expire_Time, last_Update_Time, last_Updator, priority, parent_Node_Name, order_No, variable, version
    </sql>
    <select id="listActiveChildOrders" resultType="org.snaker.engine.entity.po.Order">
        SELECT
        o.id,o.process_Id,o.creator,o.create_Time,
        o.parent_Id,o.parent_Node_Name,o.expire_Time,
        o.last_Update_Time,o.last_Updator,o.priority,
        o.order_No,o.variable, o.version
        FROM
        wf_order o
        LEFT JOIN
        wf_process p ON p.id = o.process_id
        <where>
              o.parent_Id = #{parentId}
            <if test="excludedIds != null and excludedIds.length != 0">
                and o.id not in
                <foreach collection="excludedIds" index="index" open="(" close=")" separator="," item="oid">
                    #{oid}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
