<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.snaker.engine.mapper.ProcessMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.snaker.engine.entity.po.Process">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="display_Name" property="displayName" />
        <result column="type" property="type" />
        <result column="instance_Url" property="instanceUrl" />
        <result column="state" property="state" />
        <result column="content" property="content" />
        <result column="version" property="version" />
        <result column="create_Time" property="createTime" />
        <result column="creator" property="creator" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, display_Name, type, instance_Url, state, content, version, create_Time, creator
    </sql>

</mapper>
