<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.snaker.engine.mapper.TaskActorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.snaker.engine.entity.po.TaskActor">
        <result column="task_Id" property="taskId" />
        <result column="actor_Id" property="actorId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        task_Id, actor_Id
    </sql>

</mapper>
